@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --nav-link-color: rgb(21, 21, 100);
  --xula-gold-color: #e1c828;
  --white-background-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* * {
  outline: 1px solid red !important;
} */

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: var(--white-background-color);
  padding: 1vw 4vw;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

/* Logo Styling */
.logo-text {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--nav-link-color);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  cursor: pointer;
  height: auto;
  margin-right: 0.75rem;
}

.open-menu-btn,
.close-menu-btn {
  fill: var(--nav-link-color);
  border: none;
  height: 24px;
  display: none;
  cursor: pointer;
  background-color: transparent;
}

/* Navigation Links */
.navigation-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navigation-links li a {
  color: var(--nav-link-color);
  font-weight: 500;
  /* font-size: 16px; */
  transition: all 0.3s ease;
  position: relative;
}

/* Hover & Active States */
.navigation-links li a:hover {
  color: var(--xula-gold-color);
}

.navigation-links li a.active {
  color: var(--xula-gold-color);
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
  text-decoration: none;
}

/* Subtle underline effect on hover */
.navigation-links li a::after {
  content: "";
  position: absolute;
  width: 0;
  bottom: -5px;
  left: 0;
  height: 2px;
  background-color: var(--xula-gold-color);
  transition: width 0.3s ease;
  display: block;
}

.navigation-links li a:hover::after,
.navigation-links li a:active::after {
  width: 100%;
}

@media (max-width: 768px) {
  .logo-text {
    font-size: 1.2rem;
  }
  .navigation-links {
    gap: 1rem;
  }
}

@media (max-width: 620px) {
  .navigation-links {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    border-radius: 10px;
    /* height: 100vh; */
    z-index: 1000;
    background-color: var(--white-background-color);

    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    transition: right 0.4s ease-out;
    /* animation: sidebar-slide 2s ease-out 0.1s forwards ; */
  }

  .navigation-links.show {
    right: 0;
  }

  /* @keyframes sidebar-slide{

    100% {
      right: 0;
    }
    
  } */

  /* @keyframes reverse-sidebar-slide{
    0% {
      right: 0;
    }

    100% {
      right: -100%;
    }
    
  } */

  nav li {
    padding-block: 0.5rem;
  }

  .open-menu-btn,
  .close-menu-btn {
    display: block;
  }
}

/* @media (max-width: 700px) {
  .navigation-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 100000;
    background-color: var(--white-background-color);

    flex-direction: column;
  }
} */

#introduction {
  background-image:
    linear-gradient(rgba(32, 31, 31, 0.5), rgba(32, 31, 31, 0.5)),
    url(/assets/img/xavier-university-1920_x_1080.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /*Down*/
  align-items: center;
  text-align: center;
  color: white;
  padding-top: 60px;
}
section h1 {
  margin-top: 60px;
}

p + .typing-text-container {
  margin-top: 1rem;
}

.typed-cursor,
#typing-text {
  font-size: 1.2rem;
  color: var(--white-background-color);
}

.typing-text-container {
  margin-top: 20px;
  font-size: 1.25rem;
  color: white;
}

.btn-link {
  background-color: var(--xula-gold-color);
  color: black;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 40px;
  transition: background-color 0.3s ease;
}

.image-text-split {
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 1200px;
  width: 100%;
  margin: 40px auto;
  padding: 10px;
}

:nth-child(2 of .image-text-split) {
  flex-direction: row-reverse;
}

:nth-child(2 of .image-text-split) .text-content {
  text-align: right;
  align-items: flex-end;
}

.image-text-split figure {
  padding: 10px;
}

.image-text-split .text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image-text-split p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.image-text-split img {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  max-height: 100%;
}

@media (max-width: 800px) {
  .image-text-split {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  :nth-child(2 of .image-text-split) {
    flex-direction: column;
    text-align: center;
  }

  :nth-child(2 of .image-text-split) .text-content {
    text-align: center;
    align-items: center;
  }

  .image-text-split figure {
    width: 75%;
    padding: 0;
  }

  .image-text-split .text-content {
    align-items: center;
    text-align: center;
    padding-inline: 20px;
    justify-content: flex-start;
  }

  .btn-link {
    margin-top: 20px;
  }
}

@media (max-width: 450px) {
  .image-text-split p {
    font-size: 1.3rem;
  }
}

#join-now {
  padding: 40px 20px;
  margin: 100px 5vw;
  height: 40vh;
  position: relative;
  border-radius: 20px;
  background-color: var(--xula-gold-color);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

#join-now .btn-link {
  background-color: black;
  color: var(--xula-gold-color);
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

#quadrant-1,
#quadrant-2 {
  position: absolute;
  height: 30%;
  width: 20%;
  background-color: var(--nav-link-color);
  background-color: 0.1;
}
#quadrant-1 {
  top: 0;
  right: 0;
  border-radius: 0 20px 0 100%;
}

#quadrant-2 {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 20px;
}

footer {
  background-color: rgb(240, 240, 240);
  color: grey;
  padding: 40px 20px;
  margin-top: 200px;
}

footer #outro-links {
  display: flex;
  align-items: center;
}

footer article {
  flex: 1;
  padding: 0 20px;
}

footer li a {
  color: grey;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

footer li a:hover {
  color: var(--xula-gold-color);
}

footer #copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
}

@media (max-width: 860px) {
  footer #outro-links {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  footer article {
    width: 75%;
  }
}
